{% extends 'base.html' %}
{% load static %}
{% block title %}- Shopping Basket{% endblock %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h1> My Shopping Basket</h1>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2><i class="fa-solid fa-basket-shopping"></i>Items</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td>
                            {% include "cart/product-image.html" %}
                        </td>
                        <td>
                            {% include "cart/product-info.html" %}
                        </td>
                        <td>£{{ item.product.price }}</p>
                        </td>
                        <td>
                            {% include "cart/order-form.html" %}
                        </td>
                        <td>
                            £{{ item.product.price }}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            {% include "cart/cart-total.html" %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <a href="{% url 'checkout' %}" class="btn btn-outline-success">Checkout</a>
            <a href="{% url 'products' %}" class="btn btn-outline-dark">Keep Shopping</a>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">

    /*
            * Disable +/- buttons outside 1-99 range.
            * If no size is passed to the function, the parameter will have a value of undefined by default,
            * which prevents any errors
            */
    function handleEnableDisable(itemId, size) {
        if (size) {
            var currentValue = parseInt($(`.size_${itemId}_${size}`).val());
        } else {
            var currentValue = parseInt($(`.id_qty_${itemId}`).val());
        }

        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;

        if (size) {
            $(`.decrement-size_${itemId}_${size}`).prop('disabled', minusDisabled);
            $(`.increment-size_${itemId}_${size}`).prop('disabled', plusDisabled);
        } else {
            $(`.decrement-qty_${itemId}`).prop('disabled', minusDisabled);
            $(`.increment-qty_${itemId}`).prop('disabled', plusDisabled);
        }
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for (var i = 0; i < allQtyInputs.length; i++) {
        var itemId = $(allQtyInputs[i]).data('item_id');
        var size = $(allQtyInputs[i]).data('size');
        handleEnableDisable(itemId, size);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function () {
        var itemId = $(this).data('item_id');
        var size = $(this).data('size');
        handleEnableDisable(itemId, size);
    });

    // Increment quantity
    $('.increment-qty').click(function (e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        var size = $(this).data('size');
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        if (size) {
            var allQuantityInputs = $(`.input-group-${itemId} input[data-size='${size}']`);
        } else {
            var allQuantityInputs = $(`.input-group-${itemId} input[name='quantity']`);
        }
        var currentValue = parseInt($(closestInput).val());
        $(allQuantityInputs).val(currentValue + 1);
        handleEnableDisable(itemId, size);
    });

    // Decrement quantity
    $('.decrement-qty').click(function (e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        var size = $(this).data('size');
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        if (size) {
            var allQuantityInputs = $(`.input-group-${itemId} input[data-size='${size}']`);
        } else {
            var allQuantityInputs = $(`.input-group-${itemId} input[name='quantity']`);
        }
        var currentValue = parseInt($(closestInput).val());
        $(allQuantityInputs).val(currentValue - 1);
        handleEnableDisable(itemId, size);
    });
</script>

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/cart/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken, 'product_size': size };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}