{% extends 'base.html' %}
{% load static %}
{% block title %}- Shopping Basket{% endblock %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h1><i class="fa-solid fa-basket-shopping"></i> My Shopping Basket</h1>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Items</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                    <tr>
                        <td>{{ item.product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ item.product.price }}</td>
                        <td>${{ item.total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Total: £{{ cart.total }}</p>
            <a href="{% url 'checkout' %}" class="btn btn-outline-success">Checkout</a>
            <a href="{% url 'products' %}" class="btn btn-outline-dark">Keep Shopping</a>
            <a href="{% url 'cart' %}" class="btn btn-outline-danger">Remove Item</a>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{% endblock %}