{% extends "base.html" %}
{% load static %}
{% block title %}- Home{% endblock %}
{% block page_header %}
{% endblock %}
{% block content %}

<div id="page-wrapper">
    <br>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <h1 class="display-4 text-center">
                Your Best Local Baker is now <strong>Online</strong>
            </h1>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row text-center">
            <h2><strong>Todays Featured Products</strong></h2>
        </div>
        <br>
        <section class="container-fluid">
            <div class="row">
                <div class="col">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="{% url 'products' %}">
                                    <img src="media/media/CC Image Asset (1)_result.webp"
                                        class="rounded mx-auto d-block" alt="sale product">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% url 'products' %}">
                                    <img src="media/media/CC Image Asset (2)_result.webp"
                                        class="rounded mx-auto d-block" alt="sale product">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% url 'products' %}">
                                    <img src="media/media/CC Image Asset (3)_result.webp"
                                        class="rounded mx-auto d-block" alt="sale product">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% url 'products' %}">
                                    <img src="media/media/CC Image Asset (4)_result.webp"
                                        class="rounded mx-auto d-block" alt="sale product">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% url 'products' %}">
                                    <img src="media/media/CC Image Asset (5)_result.webp"
                                        class="rounded mx-auto d-block" alt="sale product">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% url 'products' %}">
                                    <img src="media/media/CC Image Asset (6)_result.webp"
                                        class="rounded mx-auto d-block" alt="sale product">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% url 'products' %}">
                                    <img src="media/media/CC Image Asset (7)_result.webp"
                                        class="rounded mx-auto d-block" alt="sale product">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% url 'products' %}">
                                    <img src="media/media/CC Image Asset (8)_result.webp"
                                        class="rounded mx-auto d-block" alt="sale product">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% url 'products' %}">
                                    <img src="media/media/CC Image Asset (9)_result.webp"
                                        class="rounded mx-auto d-block" alt="sale product">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="{% url 'products' %}">
                                    <img src="media/media/CC Image Asset (10)_result.webp"
                                        class="rounded mx-auto d-block" alt="sale product">
                                </a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}