{% extends "base.html" %}
{% load static %}
{% block title %}- Home{% endblock %}
{% block page_header %}
<div class="container header-container">
</div>
{% endblock %}
{% block content %}
<div class="container fixed-top" style="top: 64px;">
    <div class="row">
        <div class="col-10 col-md-6 my-auto">
            <h1 class="display-4">
                Your Best Local Baker is now <strong>Online</strong>
            </h1>
            <div class="my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-outline-dark rounded-2 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}