{% extends 'base.html' %}
{% load static %}
{% block title %}- My Account{% endblock %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
            <h1><i class="fa-solid fa-user"></i> My Account</h1>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>My Account</h2>
            <p><i class="fa-regular fa-user"></i> Username: {{ user.username }}</p>
            <p>First Name: {{user.firstname}}</p>
            <p>Last Name: {{user.lastname}}</p>
            <p><i class="fa-regular fa-envelope"></i> Email: {{ user.email }}</p>
            <p><i class="fa-regular fa-address-book"></i> Address: {{ user.address }}</p>
            <p>First Line: {{user.address.firstline}}</p>
            <p>Last Line: {{user.address.lastline}}</p>
            <p>City: {{user.address.city}}</p>
            <p>Postcode: {{user.address.postcode}}</p>
            <p><i class="fa-solid fa-phone"></i> Phone: {{ user.phone }}</p>
            <a href="{% url 'update_profile' %}" class="btn btn-outline-dark">Update My Account</a>
        </div>
    </div>
    <hr>
</div>
<section class="container">
    <div class="row">
        <div class="col">
            <h2><i class="fa-solid fa-cake-candles"></i> My Orders</h2>
            {% for order in orders %}
            <div class="card mb-4">
                <div class="card-header">
                    Order #{{ order.id }} - {{ order.date }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Items</h5>
                </div>
                <ul>
                    {% for item in order.items.all %}
                    <li>{{ item.product.name }} - {{ item.quantity }}</li>
                    {% endfor %}
                </ul>
                <p>Total: ${{ order.total }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <hr>
</section>
<section class="container">
    <div class="row">
        <div class="col">
            <h2><i class="fa-regular fa-star"></i> My Favorites</h2>
        </div>
    </div>
</section>

{% endblock %}
{% block preloadjs %}
{% endblock %}
{% block postloadjs %}
{% endblock %}