body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #dee2e6b4;
    align-content: center;
    background-size: cover;
    height: calc(100vh - 164px);
}

.body-padding {
    background-color: blue;
}

/* toasts walkthrough project CI  */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}